mixin prerequisites
    doctype html
    html(lang="en")
        meta(name="viewport", content="width=device-width, initial-scale=0.5")
        meta(name="description", content="")
        meta(property="og:title", content="")
        meta(property="og:description", content="")
        meta(property="og:image", content="")
        meta(name="theme-color", content="#4170F0")
        head 
            link(href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons-filled.min.css", rel="stylesheet", type="text/css")
            script(src="scripts/bundle.js")
            title Hello World!
            link(rel="icon", href="")